{% extends "layout/ChatbotLayout.html" %}
{% block content %}
    <style>
        #intentTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #intentTable th, #intentTable td {
            text-align: left;
            padding: 12px;
        }

        #intentTable tr {
            border-bottom: 1px solid #ddd;
        }

        #intentTable tr.header, #intentTable tr:hover {
            background-color: #f1f1f1;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>

    <div class="container">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Intents</a>
            <a href="#">Entities</a>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

        <h2><i class="glyphicon glyphicon-comment"></i>Intents</h2>
        <div class="form-group has-feedback row">
            <input type="text" class="form-control" id="intentSearch" onkeyup="searchIntents()"
                   placeholder="Search for intent.." title="Type in an intent name"/>
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
        <div class="row">
            <table id="intentTable">
                <tr class="header">
                    <th style="width:100%;">Name</th>
                </tr>
                {% for intent, examples in intents.items() %}
                    <tr>
                        <td>
                            {{ intent }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script>
        function searchIntents() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("intentSearch");
            filter = input.value.toUpperCase();
            table = document.getElementById("intentTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

{% endblock content %}