{% extends "layout/ChatbotLayout.html" %}
{% block content %}
    <style>
        .container {
            margin-top: 20px;
        }

        .page {
            display: none;
        }

        .page-active {
            display: block;
        }

        #intentTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #intentTable th, #intentTable td {
            text-align: left;
            padding: 12px;
        }

        #intentTable tr {
            border-bottom: 1px solid #ddd;
        }

        #intentTable tr.header, #intentTable tr:hover {
            background-color: #f1f1f1;
        }
    </style>

    <div class="container">
        <h2><i class="glyphicon glyphicon-comment"></i>Intents</h2>
        <div class="form-group has-feedback row">
            <input type="text" class="form-control" id="intentSearch" onkeyup="searchIntents()"
                   placeholder="Search for intent.." title="Type in an intent name"/>
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
        {% set pageID = [0] %}
        <div class="jumbotron page" id="page{{ pageID[0] }}">
            {% for intent in intents %}
                {% if loop.index % intents_per_page == 1 %}
                    </div>
                    <div class="jumbotron page" id="page{{ pageID[0] }}">
                    {% if pageID.append(pageID.pop() + 1) %}{% endif %}
                {% endif %}

                <h4>{{ intent.text }}</h4>
            {% endfor %}
            </div>

        <ul id="pagination-demo" class="pagination-lg pull-right"></ul>
    </div>

    <script>
        function searchIntents() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("intentSearch");
            filter = input.value.toUpperCase();
            table = document.getElementById("intentTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        $('#pagination-demo').twbsPagination({
            totalPages: 219,
            // the current page that show on start
            startPage: 0,

            // maximum visible pages
            visiblePages: 5,

            initiateStartPageClick: true,

            // template for pagination links
            href: false,

            // variable name in href template for page number
            hrefVariable: '#',

            // Text labels
            first: 'First',
            prev: 'Previous',
            next: 'Next',
            last: 'Last',

            // carousel-style pagination
            loop: false,

            // callback function
            onPageClick: function (event, page) {
                $('.page-active').removeClass('page-active');
                $('#page' + page).addClass('page-active');
            },

            // pagination Classes
            paginationClass: 'pagination',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first',
            pageClass: 'page',
            activeClass: 'active',
            disabledClass: 'disabled'

        });
    </script>

{% endblock content %}