{% extends "layout/ChatbotLayout.html" %}
{% block content %}

    <div class="container-fluid" id="showData"></div>

    <script type="text/javascript">

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: '/api/get_users',
                headers: {
                    "x-access-token": sessionStorage.getItem('accessToken')
                },
                success: function (response) {
                    userData = response;
                    var row = "";
                    row += "<div class = 'table-responsive container' style='padding-bottom:50px'><table class='table' ><tr>";
                    row += "<th>Update/Delete</th>"; // will contain icons for update and delete row
                    row += "<th>Username</th>";
                    row += "<th>Name</th>";
                    row += "<th>Role</th>";
                    row += '</tr>';

                    for (var i = 0; i < userData.length; i++) {
                        row += "<tr>";
                        if (userData[i].username != 'admin') {
                            row += "<td><button class='btn btn-info' onclick=\"UpdateUser('" + userData[i].username + "')\">Update</button><button class='btn btn-danger' onclick=\"DeleteUser('" + userData[i].username + "')\">Delete</button>" +
                                "</td>";
                        }
                        // will contain icons for update and delete row
                        else {
                            row += "<td></td>";
                        }
                        row += "<td>" + userData[i].username + "</td>";
                        row += "<td>" + userData[i].name + "</td>";
                        row += "<td>" + userData[i].role + "</td>";
                        row += '</tr>';
                    }
                    row += '</table></div>';
                    $('#showData').html(row);
                }
            });


        });

        function UpdateUser(username) {

            window.location.href = '/UpdateUser/' + username;
        }

        function DeleteUser(username) {

            $.ajax({
                type: "GET",
                url: '/api/DeleteUser/' + username,
                headers: {
                    "x-access-token": sessionStorage.getItem('accessToken')
                },
                success: function (response) {
                    window.alert(response.message);
                    window.location.href = '{{ url_for("view_user") }}';
                }
            });

        }
    </script>


{% endblock content %}